extends ../default

block content
  h1 #{title}
  .my-4.d-flex.flex-row.justify-content-end
    a.btn.btn-success(href='/skills/create', role='button') Add Skill
  table.table.table-striped.table-hover.table-responsive-md
    thead
      tr
        th(scope='col') #
        th(scope='col') Name
        th(scope='col') Image
        th(scope='col') Type
        if user.meta.admin
          th(scope='col') Action
    tbody
      each skill, index in skills
        tr
          th(scope='row') #{index + 1}
          td #{skill.name}
          td
            img.border.img-fluid.rounded-circle.portrait-2(src=`/assets/skills/${skill._id}`, onerror=`this.src='/assets/skills/_default'`)
          td #{skill.type}
          if user.meta.admin
            td
              .text-danger.mr-1.fas.fa-trash-alt(onclick=`confirmDeleting('/api/skills/${skill._id}/delete')`)
              a.ml-1(href=`/skills/${skill._id}`)
                span.fas.fa-edit