extends ../default

block content
  h1.mb-4 #{title}
  if user.meta.admin
    .d-flex.flex-row.justify-content-end
      button.btn.btn-primary(type='button', data-toggle='modal', data-target='#clientModal') New Client
  table.mt-4.table.table-striped.table-hover.table-responsive-md
    thead
      tr
        th(scope='col') #
        th(scope='col') Name
        th(scope='col') Image
        if user.meta.admin
          th(scope='col') Action
    tbody
      each client, index in clients
        tr
          th(scope='row') #{index + 1}
          td #{client.name}
          td
            img.img-fluid.border.rounded-circle.portrait-2(src=`/assets/clients/${client._id}`, onerror=`this.src='/client_default.png'`)
          if user.meta.admin
            td
              .btn.text-danger.mr-1(onclick=`confirmDeleting('/api/clients/${client._id}/delete')`)
                span.fas.fa-trash-alt
              .btn.ml-1.text-primary(data-toggle='modal', data-target='#clientModal', data-client=client)
                span.fas.fa-edit
  #clientModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='clientModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#clientModalLabel.modal-title New/Edit Client
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#clientModalForm(method='POST', encType='multipart/form-data')
            .hovereffect
              img#clientImageView.img-fluid.border.rounded-circle.portrait-1(src='#', onerror=`this.src='/client_default.png'`)
              .overlay.portrait-1.rounded-circle
                label.info Change
            input#clientImageInput.d-none(type='file', name='image', accept='image/png, image/jpeg')
            label.mt-2(for='clientNameInput') Name
            input#clientNameInput.form-control(type='text', name='name')
        .modal-footer
          button.btn.btn-secondary(data-dismiss='modal') Cancel
          button.btn.btn-primary(onclick=`clientModalForm.submit()`) Submit