extends ../default

block content
  .container.py-4
    h1 #{title}
    .my-4.d-flex.flex-row.justify-content-end
      a.btn.btn-info(href='/tags/create', role='button') New Tag
    table.table.table-striped.table-hover.table-responsive-md
      thead
        tr
          th(scope='col') #
          th(scope='col') Name
          th(scope='col') Color
          th(scope='col') Description
          th(scope='col') Action
      tbody
        each tag, index in tags
          tr
            th(scope='row') #{index + 1}
            td #{tag.name}
            td #{tag.color}
            td #{tag.description}
            td
              button.btn.btn-danger Del
              button.btn.btn-info Edit