extends ../default

block content
  h1.mb-4 #{title}
  if user.meta.admin
    .d-flex.flex-row.justify-content-end
      button.btn.btn-primary(type='button', data-toggle='modal', data-target='#testimontialModal') New Testimontial
  table.mt-4.table.table-striped.table-hover.table-responsive-md
    thead
      tr
        th(scope='col') #
        th(scope='col') Client
        th(scope='col') Feedback
        if user.meta.admin
          th(scope='col') Action
    tbody
      each testimontial, index in testimontials
        tr
          th(scope='row') #{index + 1}
          td
            img.img-fluid.border.rounded-circle.portrait-2(src=`/assets/clients/${testimontial.client._id}`, onerror=`this.src='/client_default.png'`)
            span  #{testimontial.client.name}
          td #{testimontial.feedback}
          if user.meta.admin
            td
              .btn.text-danger.mr-1(onclick=`confirmDeleting('/api/testimontials/${testimontial._id}/delete')`)
                span.fas.fa-trash-alt
              .btn.ml-1.text-primary(data-toggle='modal', data-target='#testimontialModal', data-testimontial=testimontial)
                span.fas.fa-edit
  #testimontialModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='testimontialModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#testimontialModalLabel.modal-title New/Edit Testimontial
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#testimontialModalForm(method='POST')
            label.mt-2(for='testimontialClientInput') Client
            select#testimontialClientInput.custom-select(name='client')
              each client in clients
                option(value=client._id) #{client.name}
            label.mt-2(for='testimontialTextArea') Feedback
            textarea#testimontialTextArea.form-control(rows=5, name='feedback')
        .modal-footer
          button.btn.btn-secondary(data-dismiss='modal') Cancel
          button.btn.btn-primary(onclick=`testimontialModalForm.submit()`) Submit