#nav-histories.tab-pane.fade(class=(cur_tab === 'histories' ? 'show active' : ''))
  .card-deck.px-4
    .card
      .card-header
        .row.px-2
          h5.mt-2 Works
          .btn.btn-primary.ml-auto(data-toggle='modal', data-target='#profileWorkModal', data-index=-1) Add
      .card-body
        if usr.histories && usr.histories.works && usr.histories.works.length > 0
          each work, index in usr.histories.works
            .card.mt-2
              .card-body
                h5.card-title #{work.name} | #{work.position}
                .text-muted.mb-2 #{work.since.toLocaleDateString()} ~ #{work.until && work.until.toLocaleDateString() || 'Present'}
                .card-subtitle #{work.position}
                .card-text #{work.description}
              .card-footer
                .btn.btn-danger(onclick=`confirmDeleting('/api/users/${usr._id}/deleteWork?workIndex=${index}')`) Delete
                .btn.btn-info.ml-4(data-toggle='modal', data-target='#profileWorkModal', data-work=work, data-index=index) Edit
        else
          #profileWorksEmpty.text-muted No Work History

        #profileWorkModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='workModalLabel', aria-hidden='true')
          .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
              form(method='POST', action=`/api/users/${usr._id}?_method=PUT`)
                input.d-none(type='hidden', name='cur_tab', value='histories')
                input.d-none(type='text', name='historyType', value='work')
                input.d-none(type='text', name='workIndex')
                .modal-header
                  h5#profileWorkModalLabel.modal-title New/Edit Work
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                  label.mt-2(for='profileWorkNameInput') Name
                  input#profileWorkNameInput.form-control(type='text', name='workName' required)
                  label.mt-2(for='profileWorkPositionInput') Position
                  input#profileWorkPositionInput.form-control(type='text', name='workPosition' required)
                  label.mt-2(for='profileWorkSinceInput') Since
                  input#profileWorkSinceInput.form-control(type='date', name='workSince' required)
                  label.mt-2(for='profileWorkUntilInput') Until
                  input#profileWorkUntilInput.form-control(type='date', name='workUntil')
                  label.mt-2(for='profileWorkDescriptionInput') Description
                  textarea#profileWorkDescriptionInput.form-control(rows=5, name='workDescription')
                .modal-footer
                  button.btn.btn-secondary(data-dismiss='modal') Cancel
                  button.btn.btn-primary(type='submit') Submit

    .card
      .card-header
        .row.px-2
          h5.mt-2 Educations
          .btn.btn-primary.ml-auto(data-toggle='modal', data-target='#profileEduModal', data-index=-1) Add
      .card-body
        if usr.histories && usr.histories.educations && usr.histories.educations.length > 0
          each education, index in usr.histories.educations
            .card.mt-2
              .card-body
                h5.card-title #{education.name} | #{education.degree}
                .text-muted.mb-2 #{education.since.toLocaleDateString()} ~ #{education.until && education.until.toLocaleDateString() || 'Present'}
                .card-subtitle #{education.position}
                .card-text #{education.description}
              .card-footer
                .btn.btn-danger(onclick=`confirmDeleting('/api/users/${usr._id}/deleteEducation?eduIndex=${index}')`) Delete
                .btn.btn-info.ml-4(data-toggle='modal', data-target='#profileEduModal', data-education=education, data-index=index) Edit
        else
          #profileEdusEmpty.text-muted No Education History

        #profileEduModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='eduModalLabel', aria-hidden='true')
          .modal-dialog.modal-dialog-centered(role='document')
            .modal-content
              form(method='POST', action=`/api/users/${usr._id}?_method=PUT`)
                input.d-none(type='hidden', name='cur_tab', value='histories')
                input.d-none(type='text', name='historyType', value='education')
                input.d-none(type='text', name='eduIndex')
                .modal-header
                  h5#profileEduModalLabel.modal-title New/Edit Edu
                  button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                .modal-body
                  label.mt-2(for='profileEduNameInput') Name
                  input#profileEduNameInput.form-control(type='text', name='eduName' required)
                  label.mt-2(for='profileEduDegreeInput') Degree
                  input#profileEduDegreeInput.form-control(type='text', name='eduDegree' required)
                  label.mt-2(for='profileEduSinceInput') Since
                  input#profileEduSinceInput.form-control(type='date', name='eduSince' required)
                  label.mt-2(for='profileEduUntilInput') Until
                  input#profileEduUntilInput.form-control(type='date', name='eduUntil')
                  label.mt-2(for='profileEduDescriptionInput') Description
                  textarea#profileEduDescriptionInput.form-control(rows=5, name='eduDescription')
                .modal-footer
                  button.btn.btn-secondary(data-dismiss='modal') Cancel
                  button.btn.btn-primary(type='submit') Submit