extends ../default
include ../mixin/check

block content
  h1 #{title}
  .nav.nav-tabs.mt-4
    a.nav-item.nav-link.active(data-toggle='tab', href='#nav-general') General
    a.nav-item.nav-link(data-toggle='tab', href='#nav-security') Security
    a.nav-item.nav-link(data-toggle='tab', href='#nav-details') Details
  .tab-content.py-4.border.bg-light
    #nav-general.tab-pane.fade.show.active
      .d-flex.flex-row.flex-wrap-reverse
        .col-md-9.d-flex.flex-column
          .card
            .card-body.d-flex.flex-column
              // image, name, location
              .d-flex.flex-row.flex-wrap.mb-4
                // image
                .col-sm-3
                  .hovereffect
                    img.border.img-fluid.rounded-circle.portrait-1(src=`/assets/users/${usr._id}.png`, onerror=`this.src='/assets/users/default.png'`)
                    .overlay.rounded-circle(style='width:100px;height=100px;')
                      h2 Hover Effect
                      a.info(href='#') Change
                  input.d-none(type='file', accept='image/png, image/jpeg')
                // name, location
                .col.d-flex.flex-column
                  h2(onclick='') #{usr.profile.name}
                  h5(onclick='')
                    .fas.fa-map-pin.mr-1
                    span #{usr.profile.location || '__No Location__'}
              // title
              h4.mb-4(onclick='') #{usr.profile.title || '__No Title__'}
              // overview
              .border.p-2(style='height:400px;', onclick='') #{usr.profile.overview || '__No Overview__'}

        .col-md-3.d-flex.flex-column
          .card
            .card-body.d-flex.flex-column
              .custom-control.custom-checkbox
                input#AdminCheckBox.custom-control-input(type='checkbox', checked=usr.meta.admin, disabled=true)
                label.custom-control-label(for='AdminCheckBox') Super User
              .custom-control.custom-checkbox.mt-2
                input#AllowedCheckBox.custom-control-input(type='checkbox', checked=usr.meta.allowed, disabled=(usr.meta.admin || !user.meta.admin && !user._id.equals(usr._id)))
                label.custom-control-label(for='AllowedCheckBox') Allowed

    #nav-security.tab-pane.fade Security
    #nav-details.tab-pane.fade Details

  .mt-5.d-flex.flex-row.justify-content-center
    .btn.btn-primary.px-4(onclick=`window.open('#', '_blank')`) FrontEnd
    if user.meta.admin || usr._id.equals(user._id)
      .btn.btn-danger.px-4.ml-5(onclick=`confirmDeleting('/api/users/${usr._id}/delete')`) Delete
