#nav-competencies.tab-pane.fade(class=(cur_tab === 'competencies' ? 'show active' : ''))
  form(method='POST', action=`/api/users/${usr._id}?_method=PUT`)
    input.d-none(type='hidden', name='cur_tab', value='competencies')
    .card.mx-4
      .card-body
        .row
          .col-md-6
            label.mt-2(for='profileSkillsInput') Skills
            select#profileSkillsInput.custom-select(name='skills', multiple, style='height:750px', data-skills=usr.competencies.skills)
              each skill in skills
                option(value=skill._id) #{skill.type} - #{skill.name}
          .col-md-6
            label.mt-2(for='profileServicesInput') Services
            select#profileServicesInput.custom-select(name='services', multiple, style='height:200px', data-services=usr.competencies.services)
              each service in services
                option(value=service._id) #{service.header.title}
            label.mt-2(for='profilePortfoliosInput') Portfolios
            select#profilePortfoliosInput.custom-select(name='portfolios', multiple, style='height:500px', data-portfolios=usr.competencies.portfolios)
              each portfolio in portfolios
                option(value=portfolio._id) #{portfolio.name}
        .row.mt-5.justify-content-center
          .btn.btn-secondary(onclick=`revertProfileCompetencies()`) Revert
          button.btn.btn-primary.ml-5(type='submit') Save Changes