#nav-general.tab-pane.fade(class=(cur_tab === 'general' ? 'show active' : ''))
  form(method='POST', action=`/api/users/${usr._id}?_method=PUT`, encType='multipart/form-data', style='width:100%')
    .d-flex.flex-row.flex-wrap
      .col-md-9.d-flex.flex-column
        .card
          .card-body.d-flex.flex-column
            input.d-none(type='hidden', name='cur_tab', value='general')
            // image, name, location
            .d-flex.flex-row.flex-wrap.mb-4
              // image
              .col-sm-4
                if isOwnerOrAdmin
                  .hovereffect
                    img#profileImageView.border.img-fluid.rounded-circle.portrait-1(src=`/assets/users/${usr._id}/portrait`, onerror=`this.src='/user_default_portrait.png'`)
                    .overlay.portrait-1.rounded-circle
                      label.info Change
                  input#profileImageInput.d-none(type='file', name='image', accept='image/png, image/jpeg')
                else
                  img.border.img-fluid.rounded-circle.portrait-1(src=`/assets/users/${usr._id}`, onerror=`this.src='/user_default_portrait.png'`)
              // name, location
              .col-sm-4
                label(for='profileNameInput') Full Name
                input#profileNameInput.form-control(type='text', name='name', value=usr.profile.name, disabled=!isOwnerOrAdmin)
              .col-sm-4
                label(for='profileLocationInput') Location
                input#profileLocationInput.form-control(type='text', name='location', value=usr.profile.location, disabled=!isOwnerOrAdmin)
            // title
            label.mt-2(for='profileTitleInput') Title
            input#profileTitleInput.form-control(type='text', name='title', value=usr.profile.title, disabled=!isOwnerOrAdmin)
            // overview
            label.mt-2(for='profileOverviewInput') Overview
            textarea#profileOverviewInput.form-control(rows=10, name='overview', disabled=!isOwnerOrAdmin) #{usr.profile.overview}

      .col-md-3.d-flex.flex-column
        .card
          .card-body.d-flex.flex-column
            .custom-control.custom-checkbox
              input#profileAdminCheck.custom-control-input(type='checkbox', name='admin', checked=usr.meta.admin, disabled=true)
              label.custom-control-label(for='profileAdminCheck') Super User
            .custom-control.custom-checkbox.mt-2
              input#profileAllowedCheck.custom-control-input(type='checkbox', name='allowed', checked=usr.meta.allowed, disabled=(usr._id.equals(user._id) || !user.meta.admin))
              label.custom-control-label(for='profileAllowedCheck') Allowed
        button.btn.btn-primary.mt-4(type='submit') Save Changes