extends ../default
include ../mixin/check

block content
  h1 #{title}
  table.table.table-striped.table-hover.table-responsive-md.my-4
    thead
      tr
        th(scope='col') #
        th(scope='col') Image
        th(scope='col') Name
        th(scope='col') Email
        th(scope='col') Superuser
        th(scope='col') Allowed
        th(scope='col') Action
    tbody
      each usr, index in users
        tr(data-href='#')
          th(scope='row') #{index + 1}
          td(scope='row')
            img.border.img-fluid.rounded-circle.portrait-2(src=`/assets/users/${usr._id}`, onerror=`this.src='/assets/users/_default'`)
          td
            span #{usr.profile.name}
            span.text-info #{(usr._id.equals(user._id) ? ' (you)' : '')}
          td #{usr.email}
          td
            +check(usr.meta.admin)
          td
            +check(usr.meta.allowed)
          td
            if user.meta.admin && !usr.meta.admin
              .text-danger.mr-1.fas.fa-trash-alt(onclick=`confirmDeleting('/api/users/${usr._id}/delete')`)
            if user.meta.admin || user._id.equals(usr._id)
              a.ml-1(href=`/users/${usr._id}`)
                span.fas.fa-edit