extends ../default

block content
  h1.mb-4 #{title}
  if user.meta.admin
    .d-flex.flex-row.justify-content-end
      button.btn.btn-primary(type='button', data-toggle='modal', data-target='#serviceModal') New service
  table.mt-4.table.table-striped.table-hover.table-responsive-md
    thead
      tr
        th(scope='col') #
        th(scope='col') Name
        if user.meta.admin
          th(scope='col') Action
    tbody
      each service, index in services
        tr
          th(scope='row') #{index + 1}
          td #{service.header.title}
          if user.meta.admin
            td
              .btn.text-danger.mr-1(onclick=`confirmDeleting('/api/services/${service._id}/delete')`)
                span.fas.fa-trash-alt
              a.btn.text-primary.ml-1(href=`/services/${service._id}`)
                span.fas.fa-edit
  #serviceModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='serviceModalLabel', aria-hidden='true')
    .modal-dialog.modal-dialog-centered(role='document')
      .modal-content
        .modal-header
          h5#serviceModalLabel.modal-title New Service
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span(aria-hidden='true') ×
        .modal-body
          form#serviceModalForm(method='POST', action='/api/services')
            label.mt-2(for='serviceNameInput') Title
            input#serviceNameInput.form-control(type='text', name='title')
        .modal-footer
          button.btn.btn-secondary(data-dismiss='modal') Cancel
          button.btn.btn-primary(onclick=`serviceModalForm.submit()`) Submit